@import 'base';
.mapPinContainer {
	display: block;
	position: relative;
	left: -13px;
	top: -26px;
}

.mapPinPoint {
	height: 14px;
	width: 14px;
	border: 7px solid;
	border-color: $secondary;
	border-top-color: transparent !important;
	border-left-color: transparent !important;
	transform: rotate(45deg);
	display: block;
	position: relative;
	left: 8px;
	top: -12px;
	cursor: pointer;
}

.mapPinBody {
	border: 7px solid;
	border-color: $secondary;
	color: transparent;
	border-radius: 50%;
	position: relative;
	width: 26px;
	height: 26px;
	left: 2px;
	cursor: pointer;
}

.emphasis {
	border-color: $primary;
	z-index: 100;
}